@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category Manager";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 puy-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">List Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-4 pb-3">
            <div class="col-6">
                <h2 class="text-primary">List Category</h2>
            </div>

            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle pe-1"></i>Create New Category</a>
            </div>
        </div>

        <table class="table table-bordered table-striped" id="tblData">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(c=> c.Title)</th>
                    <th scope="col">@Html.DisplayNameFor(c=> c.DisplayOrder)</th>
                    <th scope="col">@Html.DisplayNameFor(c=> c.CreateAt)</th>
                    <th></th>
                </tr>
            </thead>

            @*          <tbody>
            @foreach(Category item in Model.OrderBy(c => c.DisplayOrder))
            {
            <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.DisplayOrder</td>
            <td class="text-center col-3">
            <a data-id="@item.Id" class="btn btn-sm btn-primary btnClickShowEdit"><i class="bi bi-pencil-square"></i></a>
            <a asp-controller="Category" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-success"><i class="bi bi-eye-fill"></i></a>
            <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash3-fill"></i></a>
            </td>
            </tr>

            }
            </tbody>*@
        </table>
    </div>
</div>
<partial name="_ModelUpdate"></partial>


@section Scripts {
    <script src="~/js/category.js"></script>
}